{% extends "BonPlanBundle:Default:Base.html.twig" %}
{% block first %}

    <style>
        .bouton5 {
            border-radius:12px 0 12px 0;
            background: #d34836;
            border:none;
            color:#fff;
            font:bold 12px Verdana;
            padding:20px 20px 20px 20px;
            margin-top: 10px;
            margin-left: 5px;

        }
        .bouton6 {
            border-radius:12px 0 12px 0;
            background: #478bf9;
            border:none;
            color:#fff;
            font:bold 12px Verdana;
            padding:20px 20px 20px 20px;
            margin-top: 10px;
            margin-right: 5px;
        }
    </style>

    <form method="post" name="form" action="{{ path( 'modifier_evaluation',{'idEvaluation':idEvaluation} ) }}">
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver2 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Nom</th>
                                    <th class="cell100 column1">Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
            {% for noteCritere in notesCriteres %}
                <tr>
                    <td>{{ noteCritere.idCritere.nom }}</td>
                    <td><input type="number" min="1" max="5" value="{{ noteCritere.note }}" name={{ noteCritere.id }} /> </td>
                    <td hidden ><input type="text" value="{{ noteCritere.idCritere.id}}" name="{{ noteCritere.idCritere.id}}"></td>
                </tr>
            {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <input type="submit" value="Enregistrer" class="bouton5" />
                </div>
            </div>
        </div>


    </form>
{% endblock %}


