{% extends "BonPlanBundle:Default:index.html.twig" %}
{% block first %} <h1> Recommandation</h1>
    {% set i=0 %}
{% for bonPlan in bonsPlans %}
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="dealbox">
            <div class="deal-thmbimg">
                <img src="{{ asset('image/'~bonPlan.imageName)}}" width="370" height="247" alt="deal1"/>
                <!-- change effacer 15%-->
            </div>
            <div class="deal-content">
                <h3>{{ bonPlan.titre }}</h3>
                <p>{{ bonPlan.description }}</p>
                <p>Auteur {{ bonPlan.loginAuteur }}</p>



                <a href="{{ path('add_reservation',{'id':bonPlan.id}) }}" title ="Get this deal" class="getdeal-btn" ><!--style="pointer-events: none;
   cursor: default;"-->
                    <span class="get-coupencode">12xjuox</span>
                    <span class="getdeal">Reserver</span>
                </a>

                <div class="expire"><span>Expire :</span> 27-12-2015</div>
            </div>
        </div>
    </div>
     {% set i=i+1 %}
    {% endfor %}
{% endblock %}